* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Courier New', monospace; }
body { background: #000; color: #0f0; height: 100vh; overflow: hidden; }
.hidden { display: none !important; }

/* Efecto de líneas de TV */
#scanlines {
    position: fixed; inset: 0; z-index: 1000; pointer-events: none;
    background: linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.1) 50%);
    background-size: 100% 3px;
}

/* Inicio */
#start-screen { height: 100vh; display: flex; align-items: center; justify-content: center; }
.terminal { border: 2px solid #0f0; padding: 40px; text-align: center; background: #050505; }
button { background: #0f0; color: #000; border: none; padding: 10px 20px; font-weight: bold; cursor: pointer; }

/* HUD Superior */
#top-bar { 
    height: 40px; display: flex; justify-content: space-between; 
    align-items: center; padding: 0 20px; background: #000; border-bottom: 1px solid #333;
}

/* Oficina */
#main-viewport { flex: 1; position: relative; height: calc(100vh - 130px); }
#office-img { width: 100%; height: 100%; background-size: cover; background-position: center; }

/* ESTÁTICA GENERADA POR CSS */
#static-overlay {
    position: absolute; inset: 0; z-index: 200; pointer-events: none; opacity: 0;
    background: repeating-radial-gradient(circle at 50% 50%, #fff 0, #000 2px, transparent 4px);
    background-size: 5px 5px;
}
.static-on {
    opacity: 0.5 !important;
    animation: noise-move 0.1s infinite;
}
@keyframes noise-move {
    0% { transform: translate(0,0); }
    50% { transform: translate(-5px, 5px); }
    100% { transform: translate(5px, -5px); }
}

/* Monitor */
#monitor-layer { position: absolute; inset: 0; background: #000; z-index: 500; display: flex; flex-direction: column; }
#cam-window { flex: 2; position: relative; border: 5px solid #222; }
#cam-img { width: 100%; height: 100%; object-fit: contain; }
#cam-info { position: absolute; top: 10px; width: 100%; display: flex; justify-content: space-between; padding: 0 15px; color: #fff; text-shadow: 1px 1px #000; }
.rec { color: red; animation: blink 1s infinite; }
@keyframes blink { 50% { opacity: 0; } }

#cam-grid { flex: 1; display: grid; grid-template-columns: repeat(3, 1fr); gap: 5px; padding: 10px; }
#cam-grid button { border: 1px solid #0f0; background: #000; color: #0f0; }
#btn-close { grid-column: span 3; background: #300; color: #fff; }

/* Panel Inferior */
#bottom-panel { height: 90px; display: flex; gap: 5px; padding: 10px; background: #111; }
#bottom-panel button { flex: 1; font-size: 0.8rem; border: 1px solid #444; background: #222; color: #fff; }
.active { background: #060 !important; border-color: #0f0 !important; }

/* Jumpscare */
#jumpscare-layer { position: fixed; inset: 0; z-index: 9999; background: #000; display: flex; align-items: center; justify-content: center; }
#scare-img { width: 100%; height: 100%; object-fit: cover; }
