#office-bg {
    width: 140vw; height: 100vh;
    background: url('assets/images/oficina_base.jpg') center/cover;
    position: absolute; left: -20vw;
}

/* Efecto de Estática en Cámaras */
.noise-effect {
    position: absolute; inset: 0;
    background: url('assets/images/cams/static.gif');
    opacity: 0.1; pointer-events: none;
}

/* Barra de Energía */
#power-bar { width: 100px; height: 10px; border: 1px solid #0f0; background: #222; }
#power-fill { height: 100%; background: #0f0; width: 100%; transition: 0.3s; }

/* Luz de Radio (Feedback) */
#radio-indicator { width: 15px; height: 15px; border-radius: 50%; background: red; margin: 5px auto; box-shadow: 0 0 10px red; }

/* Animación Alarma Boss Fight */
.boss-alarm { animation: pulseRed 0.5s infinite; }
@keyframes pulseRed { 0% { background: #000; } 50% { background: #400; } }
