body, html { margin: 0; padding: 0; background: #000; overflow: hidden; font-family: 'Courier New', monospace; color: white; }
.hidden { display: none !important; }

/* Menú */
#start-screen { position: fixed; inset: 0; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 200; background: #050505; }
#btn-play { padding: 15px 30px; background: none; border: 2px solid #0f0; color: #0f0; cursor: pointer; font-size: 20px; }

/* Oficina y Parallax */
#office-bg { width: 140vw; height: 100vh; background: url('assets/images/oficina_base.jpg') center/cover; position: absolute; transition: transform 0.1s linear; }

/* CCTV */
#camera-monitor { position: fixed; inset: 0; background: #000; z-index: 100; display: flex; flex-direction: column; }
#cam-screen { flex: 1; position: relative; border: 4px solid #333; }
#cam-img { width: 100%; height: 100%; object-fit: cover; }
#cam-nav { height: 70px; display: flex; justify-content: center; gap: 10px; padding: 10px; background: #111; }
.cam-btn { width: 50px; background: #222; color: #fff; border: 1px solid #555; }
.cam-btn.active { background: #004400; border-color: #0f0; }

/* Efecto Alarma Boss */
.alarm-mode { animation: redFlash 0.7s infinite; }
@keyframes redFlash { 0%, 100% { filter: none; } 50% { filter: sepia(1) hue-rotate(-50deg) saturate(5); } }

/* Máscara */
#mask-overlay { position: fixed; inset: 0; background: radial-gradient(circle, transparent 30%, #000 90%); z-index: 50; pointer-events: none; border: 15px solid #111; }
