* { margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; }
body { background: #000; color: #0f0; height: 100vh; overflow: hidden; }
.hidden { display: none !important; }

/* Menú Principal */
#start-screen { height: 100vh; display: flex; align-items: center; justify-content: center; background: #000; }
.terminal { border: 2px solid #0f0; padding: 20px; text-align: center; width: 90%; }
.night-menu { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin-top: 20px; }
.night-menu button { background: #111; color: #0f0; border: 1px solid #0f0; padding: 15px; font-size: 0.9rem; }

/* Pantalla de Juego */
#game-ui { display: flex; flex-direction: column; height: 100%; }
#top-bar { height: 50px; display: flex; justify-content: space-between; align-items: center; padding: 0 15px; background: #111; font-size: 0.9rem; border-bottom: 2px solid #333; }

#main-viewport { flex: 1; position: relative; background: #000; }
#office-img { width: 100%; height: 100%; background-size: cover; background-position: center; }

/* Estática CSS */
#static-overlay { position: absolute; inset: 0; z-index: 10; pointer-events: none; opacity: 0; background: repeating-radial-gradient(#fff 0 1px, transparent 2px) 0 0/5px 5px, #000; }
.static-on { opacity: 0.4 !important; animation: noise 0.1s infinite; }
@keyframes noise { 0% { transform:translate(0,0) } 50% { transform:translate(-2px,2px) } }

/* Cámaras ajustadas */
#monitor-layer { position: absolute; inset: 0; z-index: 100; background: #000; display: flex; flex-direction: column; }
#cam-window { flex: 1.2; position: relative; border: 2px solid #444; overflow: hidden; }
#cam-img { width: 100%; height: 100%; object-fit: contain; }
#cam-info { position: absolute; top: 10px; left: 10px; right: 10px; display: flex; justify-content: space-between; color: #fff; font-size: 0.8rem; z-index: 5; }

#cam-grid { flex: 1; display: grid; grid-template-columns: repeat(3, 1fr); gap: 5px; padding: 10px; background: #080808; }
#cam-grid button { background: #222; color: #fff; border: 1px solid #444; font-size: 1.1rem; }
#btn-close { grid-column: span 3; background: #400 !important; }

/* Botonera de abajo */
#bottom-panel { height: 80px; display: flex; background: #111; padding: 5px; gap: 5px; border-top: 2px solid #444; }
#bottom-panel button { flex: 1; background: #222; color: #fff; border: 1px solid #555; font-weight: bold; border-radius: 4px; }
.active { background: #050 !important; border-color: #0f0 !important; }

#jumpscare-layer { position: fixed; inset: 0; z-index: 999; background: #000; display: flex; align-items: center; }
#scare-img { width: 100%; }
