body { background: #000; color: #0f0; font-family: 'Courier New', monospace; margin: 0; overflow: hidden; }
.screen { position: fixed; width: 100vw; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; z-index: 10; background: #000; }
.hidden { display: none !important; }

/* Efectos Visuales */
.static-overlay { position: fixed; top:0; left:0; width:100%; height:100%; z-index: 100; pointer-events: none; opacity: 0.1; background: url('https://upload.wikimedia.org/wikipedia/commons/7/76/1k_pnt_noise.png'); animation: noise 0.1s infinite; }
@keyframes noise { 0% {transform:translate(0,0)} 50% {transform:translate(-1%,1%)} 100% {transform:translate(1%,-1%)} }

.gray { background: #111 !important; color: #f00 !important; }

/* HUD */
.hud { position: absolute; top:0; width:100%; padding:15px; background: linear-gradient(to bottom, #000, transparent); z-index: 30; }
#uso-bars { display: flex; gap: 4px; margin-top: 5px; }
.bar { width: 10px; height: 15px; background: #111; }
.uso-1 #b1 { background: #0f0; }
.uso-2 #b1, .uso-2 #b2 { background: #ff0; }
.uso-3 #b1, .uso-3 #b2, .uso-3 #b3 { background: #f00; }

/* Botones */
button { background: #001100; color: #0f0; border: 2px solid #0f0; padding: 15px; font-weight: bold; cursor: pointer; text-transform: uppercase; }
.btn-monitor { grid-column: span 2; padding: 25px; background: #020; font-size: 1.2rem; }
.btn-def { font-size: 0.9rem; }
.btn-exit { background: #300; border-color: #f00; color: #fff; }

#main-view { width: 100%; height: 55vh; object-fit: contain; background: #050505; border-bottom: 2px solid #040; }
#cam-view { width: 100%; height: 45vh; object-fit: contain; background: #000; }
.cam-grid { display: grid; grid-template-columns: repeat(4, 1fr); gap: 5px; padding: 15px; }
